:root {
  /* these two colors are loosely based on containers.jpg */
  --primary-ocean: #071b1a;
  --primary-light: #ebf4f1;
}

body {
  /* light mode settings, default theme is picked by nuxt! */
  background-color: var(--primary-light);
  color: var(--primary-ocean);

  /* generic body settings */
  margin: 0;
  font-family: sans-serif;
}

.dark-mode body {
  background-color: var(--primary-ocean);
  color: var(--primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

.pale {
  opacity: 0.5;
}

a {
  color: inherit;
  text-decoration: underline;
}

/*
break lines cleanly between elements and keep blocks together
*/
.cleanlbr {
  display: flex;
  flex-flow: row wrap;
  /* browser deletes whitespace between flex elements */
  column-gap: 0.25em;
}
